---
import { SEO } from '@wix/seo/components';
import { loadSEOTagsServiceConfig } from '@wix/seo/services';
import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@wix/wix-vibe-plugins/plugins-vars.css";
import "@wix/wix-vibe-plugins/plugins-theme.css";
import "@/styles/global.css";

const seoTagsServiceConfig = await loadSEOTagsServiceConfig({
  pageUrl: Astro.url.href,
  itemData: {
    pageName: 'Home',
  },
});
---

<html lang="en" class="w-full h-full">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JMM17LNJXM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-JMM17LNJXM');
    </script>
    <Head />
    <SEO.Tags seoTagsServiceConfig={seoTagsServiceConfig} slot="seo-tags" />
  </head>
  <body class="w-full h-full">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMRZT82N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root" class="w-full h-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
